* {
  margin: 0;
  padding: 0;
}

.swiper-slide1 {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

video{
  width: 100%;
  height: 100%;
}



.swiper1 {
  overflow: hidden;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-slide1 {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide1 img {
  display: block;
  width: 100%;
}

.wrap {
  overflow: hidden;
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0 auto;
  width: 100%;
  background-image: url(../images/circleoflife2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -2;
  min-width: 498px;
}

a {
  color: inherit;
  text-decoration: none;
}

main > img {
  width: 100%;
}

.inner {
  width: 80%;
  margin: 0 auto;
}

/************* 헤더 *********/
.display{
  display: none;
}

header {
  box-sizing: border-box;
  background-color: #f9d509;
  width: 100%;
  height: 120px;
  padding: 40px 50px 0 50px;
  position: relative;
  z-index: 999;
}

.logo {
  float: left;
  background-image: url(../images/logo.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 225px;
  height: 45px;
}

.logo >a {
  display: block;
  width: 225px;
  height: 45px;
}

nav {
  float: right;
  padding-top: 20px;
}

nav > ul > li {
  display: inline-block;
  padding-right: 70px;
  font-size: 12px;
  color: #6e1101;
  font-weight: bold;
}

nav > ul > li:last-child{
  padding-right: 0;
}

header .inner::before,
header .inner::after {
  display: block;
  content: '';
  clear: both;
}



/***** 메인 *********/

main {
  width: 100%;
}


.mainimg1 {
  width: 100%;
}


/***** 섹션1 *****/

.sect1_title {
  font-size: 20px;
  color: #f68602;
  box-sizing: border-box;
  text-align: center;
  line-height: 100px;
}
.slider {
  width: 100%;
  font-size: 20px;
  text-align: center;
  color: #f7f5f1;
}

.slider> img{
  /* height: 864px; */
  width: 100%;
}

.section1 {
  z-index: 1;
  box-sizing: border-box;
  border: 5px solid #f8900c;
  width: 100%;
  height: 40px;
}

.sect1_left > h3,
.sect1_left > p {
  float: left;
  padding: 0 100px;
}

.sect1_left {
  padding: 20px;
  float: left;
  font-size: 15px;
  color: #f8900c;
  font-weight: bold;
}

.sect1_right {
  padding: 20px 105px 0 0;
  float: right;
  z-index: 2;
}

.sect1_right > img {
  padding-right: 70px;
}

.simbaimg {
  background-image: url(../images/simba.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 800px;
  height: 500px;
  top: -425px;
  right: -400px;
  z-index: -11;
}

.section1::after,
.section1::before {
  display: block;
  content: '';
  clear: both;
}

.section_fade1 {
  background: url(../images/scar.png) no-repeat center left,
    url(../images/simba3.png) no-repeat bottom right;
  background-size: 0;
  transition: 1s;
}

/******* 섹션2 *******/

.Dday1 {
  padding-top: 5px;
  font-size: 30px;
  color: #6e1101;
  opacity: 0.2;
}

.Dday2 {
  padding-top: 35px;
  font-size: 30px;
  color: #6e1101;
  opacity: 0.2;
}

.section2 {
  width: 100%;
  position: relative;
}

.section2_title {
  text-align: center;
  margin-top: 135px;
}

.section2_title > h4,
.section2_title > h2,
.section2_title > h6 {
  color: #f8900c;
}

.section2_title > h4 {
  font-size: 30px;
}

.section2_title > h2 {
  font-size: 60px;
}

.section2_title > h6 {
  font-size: 20px;
}

.section2_title > img {
  position: absolute;
  left: 520px;
  width: 130px;
  height: 122px;
}

.circle_set {
  text-align: center;
  position: relative;
  width: 830px;
  height: 350px;
  margin: 50px auto;
  transform: translate(400px);
  opacity: 0;
  transition: 1s;
}

.circle1,
.circle3 {
  text-align: center;
  color: #f68602;
  box-sizing: border-box;
  background-color: #f7f5f1;
  width: 300px;
  height: 300px;
  border-radius: 50%;

  padding: 75px;
  position: absolute;
  box-shadow: 0 20px 20px black;
}

.circle1 {
  top: 0px;
  left: 0px;
  border: 10px solid #f68602;
}
.circle1 > h2,
.circle3 > h2 {
  font-weight: bold;
}

.circle1 > h6,
.circle3 > h6 {
  margin: 20px 0;
}

.circle2,
.circle4 {
  border: 10px solid #f68602;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 1;
  box-shadow: 0 20px 20px black;
}

.circle2 {
  border: 10px solid #f68602;
  bottom: 20px;
  left: 250px;
  background-image: url(../images/operahouse.gif);
}

.circle3 {
  top: 0;
  left: 400px;
}

.circle4 {
  right: 0px;
  bottom: 20px;
  background-image: url(../images/dreamtheater.jpg);
}

.background-img {
  position: relative;
}

.background-img > hr {
  border: 1px solid #f68602;
  position: relative;
  top: 890px;
}

.back_img {
  background-image: url(../images/scar.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 500px;
  height: 800px;
  float: left;
  position: absolute;
  top: 100px;
  left: -75px;
}

.back_img2 {
  background-image: url(../images/simba3.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 400px;
  height: 800px;
  float: right;
  position: absolute;
  top: 90px;
  right: 0;
}

.section2::before,
.section2::after {
  display: block;
  content: '';
  clear: both;
}

/********* 섹션3 **********/

.section3 {
  width: 100%;
}

.title1 {
  transform: translate(-200px, 200px);
  opacity: 0;
  transition: 1s;
}

.title2 {
  transform: translate(100px, 100px);
  opacity: 0;
  transition: 1s;
}

.title1_left {
  background-image: url(../images/section3_img1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 50%;
  height: 500px;
  float: left;
  z-index: 1;
}

.title1_right {
  position: relative;
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding: 50px;
}

.sun1 {
  position: absolute;
  left: 100px;
  width: 400px;
  height: 400px;
  top: 30px;
  left: 290px;
}

.title1::before,
.title1::after {
  content: '';
  display: block;
  clear: both;
}

.title1_right > h3,
.title2_left > h3 {
  text-shadow: 0 30px 30px black;
  color: #f9e011;
  font-size: 40px;
}

.title1_right > h6,
.title2_left > h6 {
  color: #f9e011;
  font-size: 20px;
}

.title1_right > p,
.title2_left > p {
  color: #f7f5f1;
  font-size: 15px;
  margin: 36px 0;
}

.title1_right > h5,
.title2_left > h5 {
  color: #f7f5f1;
  font-size: 20px;
  cursor: pointer;
}

.title2 {
  margin-top: 80px;
}

.title2_left {
  box-sizing: border-box;
  position: relative;
  width: 50%;
  padding: 50px;
  float: left;
}

.title2_right {
  box-sizing: border-box;
  background-image: url(../images/section3_img2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 50%;
  height: 500px;
  float: right;
}

.sun2 {
  position: absolute;
  left: 100px;
  width: 400px;
  height: 400px;
  top: 10px;
  left: 100px;
}

.title2::before,
.title2::after {
  content: '';
  display: block;
  clear: both;
}

.section3::before,
.section3::after {
  content: '';
  display: block;
  clear: both;
}

.hr1 {
  margin-bottom: 100px;
  border: 1px solid #f68602;
}

.banner {
  display: block;
  position: relative;
  color: #f7f5f1;
  background-image: url(../images/rapiki_cupone.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  height: 295px;
  margin: 0 auto;
  background-color: blue;
  overflow: hidden;
}

.subbannertext {
  padding: 60px 30%;
}
.onlyimg {
  position: absolute;
  background: url(../images/only.png) no-repeat center;
  background-size: contain;
  width: 600px;
  height: 600px;
  left: -200px;
  top: -200px;
}

.subbannertext > h3 {
  font-size: 30px;
}

.subbannertext > h5 {
  margin-top: 20px;
  font-size: 20px;
  cursor: pointer;
}

/********* 섹션 4 ********/

.title3 {
  text-align: center;
  margin: 100px auto;
}

.title3 > h3 {
  font-size: 50px;
  color: #eac601;
  line-height: 50px;
}

.title3 > h6 {
  font-size: 20px;
  color: #f68602;
  margin-bottom: 50px;
}

.title3 > h2 {
  font-size: 60px;
  color: #f68602;
}

/* .reviewscroll{
  width: 100%;
  padding: 100px;
  margin: 0 auto;
} */

.reviewrect1,
.reviewrect2,
.reviewrect3,
.reviewrect4,
.reviewrect5 {
  margin-left: 33.5%;
  width: 500px;
  height: 500px;

  overflow: hidden;
}
.reviewrect1 {
  background-image: url(../images/rewiews1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  float: left;
}
.reviewrect2 {
  background-image: url(../images/face.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  float: left;
}
.reviewrect3 {
  background-image: url(../images/review2.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  float: left;
}
.reviewrect4 {
  background-image: url(../images/review4.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  float: left;
}

.reviewrect5 {
  background-image: url(../images/review5.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  float: left;
}

.reviewcircle1,
.reviewcircle2,
.reviewcircle3,
.reviewcircle4,
.reviewcircle5 {
  margin: 340px auto;
  top: 160px;
  box-sizing: border-box;
  border: solid whitesmoke;
  background-color: #f7f5f1;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  padding-top: 60px;
  text-align: center;
}

.reviewcircle1 > h5,
.reviewcircle2 > h5,
.reviewcircle3 > h5,
.reviewcircle4 > h5 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.reviewcircle1 > h6,
.reviewcircle2 > h6,
.reviewcircle3 > h6,
.reviewcircle4 > h6 {
  font-size: 5px;
}

.btn1 {
  cursor: pointer;
  font-weight: bold;
  color: #f68602;
  border-radius: 10px;
  font-size: 20px;
  display: block;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0);
  border: 4px solid #f68602;
  margin: 100px auto;
}

.reviewscroll::before,
.reviewscroll::after {
  content: '';
  display: block;
  clear: both;
}

/********** 푸터 ***********/

footer {
  width: 100%;
  box-sizing: border-box;
  color: #f68602;
}

.flogo {
  padding: 30px;
  float: left;
  margin: 0 50px;
}
.title {
  padding-top: 20px;
  float: left;
}

.right {
  text-align: left;
  float: right;
  margin-right: 70px;
  padding-top: 30px;
}

.title div > h6 {
  display: inline-block;
  margin-right: 20px;
}

.title div > h6:hover {
  color: #f7f5f1;
}

.sns > img {
  cursor: pointer;
  margin-top: 20px;
  height: 30px;
}

footer::after,
footer::before {
  content: '';
  display: block;
  clear: both;
}

/********* 픽스 ***********/

.top  {
  cursor: pointer;
  z-index: 1;
  box-sizing: border-box;
  text-align: center;
  background-color: #bc6909;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: fixed;
  right: 40px;
  bottom: 180px;
  padding-top: 10px;
}

.top > a> img {
  width: 20px;
  height: 10px;
}
.top > h3 {
  font-size: 10px;
  font-weight: bold;
  color: #f7f5f1;
}
.ticket {
  cursor: pointer;
  z-index: 1;
  background-color: #f7f5f1;
  box-sizing: border-box;
  text-align: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: fixed;
  right: 40px;
  bottom: 80px;
  padding-top: 3px;
  border: 3px solid #eac601;
}

.ticket > img {
  width: 30px;
  height: 30px;
}

.ticket > h3 {
  font-size: 5px;
  font-weight: bold;
  color: #f68602;
}

hr {
  margin: 50px 0 100px 0;
  border: 1px solid #f68602;
}




/* 미디어 쿼리 */
@media  screen and (max-width: 1300px){ 
  header {
    height: 150px;
    width: 100%;
    margin: 0 auto;

  }
  .inner{
  }

  .slider{
    width: 100%;
    
  }
  
}




@media  screen and (max-width: 1100px){ 
  header {
    height: 150px;
    width: 100%;
    margin: 0 auto;

  }
  

  .slider{
    width: 100%;
    
  }
  
}

@media  screen and (max-width: 1000px){ 
  header {
    height: 150px;
    width: 100%;
    margin: 0 auto;

  }

  .slider{
    width: 100%;
  }

  .section2_title >img {
    display: none;
  }

  .section2_title > h4 {
    font-size: 15px;
  }
  .section2_title > h2 {
    font-size: 25px;
  }

  .section2_title > h6 {
    font-size: 10px;
  }

  .circle1, .circle3{
    width: 200px;
    height: 200px;
    padding-top: 25px;
  }

  .circle1 {
    left: 230px;
  }

  .circle2{
    top: 100px;
    left: 370px;
  }

  .circle3{
    top: 220px;
    left: 230px;
  }
  .circle4{
    top: 300px;
    left: 370px;
  }
  

  .circle1 > h2,
  .circle3 > h2 {
  font-weight: bold;
  font-size: 10px;
}

.circle1 > h6,
.circle3 > h6 {
  margin: 20px 0;
  font-size: 10px;
}

.circle1 > h4,
.circle3 > h4 {
  font-size: 10px;
}
.Dday1, .Dday2{
  display: none;
}

.onlyimg{
  display: none;
}
.subbannertext{
  padding: 60px 15%;
}

.title1_left{
  float: none;
  width: 100%;
}
.section3{
  margin-top: 100px;
}
.title1_right {
  width: 100%;
  box-sizing: border-box;
  padding: 50px;
}
.title2_right{
  display: block;
  width: 100%;
  float: none;
}

.title2_left{
  display: block;
  float: none;
  width: 100%;
  text-align: right;
}

.reviewrect1, .reviewrect2, .reviewrect3, .reviewrect4, .reviewrect5 {
  margin-left: 20%;
}


.section_fade2{
  margin-top: 200px;
}

.flogo{
  float: none;
  padding-left: 28%;
}
.title{
  float: none;
  text-align: center;
}
.right{
  float: none;
  text-align: center;
  padding-left: 50px;
}

}


@media  screen and (max-width: 720px){ 
  header {
    height: 200px;
    width: 100%;
    padding-left: 150px;
  }
  .display{
    display: block;
    

  }
  .display>a>img{
    width: 30px;
    
  }
  nav > ul {
    display: block;
    position: absolute;
    z-index: 1;
    width: 150px;
    height: 330px;
    top:100px;
    right: 20px;
    border: 2px solid #bc6909;
    background-color: #eee;
    border-radius: 10px;
    display: none;
    transition: 1s;
  }

  nav > ul  > li  {
    width: 150px;
  }

  nav > ul > li {
    box-sizing: border-box;
    font-size: 15px;
    padding: 15px 30px;
  
  }
  nav > ul > li:hover {
    background-color: #f8900c;
    border-radius: 10px;
    width: 150px;
  
  }


 
  .slider > img{
    width: 100%;
  }
  .circle1 {
    left: 130px;
  }

  .circle2{
    top: 100px;
    left: 260px;
  }

  .circle3{
    top: 220px;
    left: 130px;
  }
  .circle4{
    top: 300px;
    left: 260px;
  }

  .reviewrect1, .reviewrect2, .reviewrect3, .reviewrect4, .reviewrect5 {
    margin-left: 8%;
  }
  .flogo{
    float: none;
    padding-left: 20%;
  }
}

@media  screen and (max-width: 600px){ 
  .title1_right,.title2_left {
    padding: 0;
  }
  
}




@media  screen and (max-width: 560px){ 
  header {
    height: 200px;
    width: 100%;
    padding-left: 130px;
  }

  .slider > img{
    width: 100%;
  }

  .section_fade2 {
   margin-top: 0;
}
.circle1 {
  left: 50px;
}

.circle2{
  top: 100px;
  left: 190px;
}

.circle3{
  top: 220px;
  left: 50px;
}
.circle4{
  top: 300px;
  left: 190px;
}

.reviewrect1, .reviewrect2, .reviewrect3, .reviewrect4, .reviewrect5 {
  width: 100%;
  margin-left: 0;
}

.flogo{
  float: none;
  padding-left: 10%;
}
  
}

@media  screen and (max-width: 560px){ 
  header {
    height: 200px;
    width: 100%;
    padding-left: 130px;
  }

  .slider > img{
    width: 100%;
  }

  .section_fade2 {
   margin-top: 0;
}
.section1_setting > .inner {
  width: 100%;
}

.sect1_title > h1 {
  font-size: 20px;
}

.section1 {
  height: 30px;
}
.slider div p {
  font-size: 10px;
}
  
}
@media  screen and (max-width: 498px){ 
  .display{
    display: block;
    

  }
  .display>a>img{
    width: 30px;
    
  }
  nav > ul {
    display: block;
    position: absolute;
    z-index: 1;
    width: 150px;
    height: 330px;
    top:140px;
    right: 20px;
    border: 2px solid #bc6909;
    background-color: #eee;
    border-radius: 10px;
    display: none;
    
  }

  nav > ul  > li  {
    width: 150px;
  }

  nav > ul > li {
    box-sizing: border-box;
    font-size: 15px;
    padding: 15px 30px;
    
  }
  nav > ul > li:hover {
    background-color: #f8900c;
    border-radius: 10px;
    width: 150px;
  }

  
}

@media  screen and (max-width: 486px){ 
  header {
    height: 200px;
    width: 100%;
    padding-left: 100px;
  }

  .slider > img{
    width: 100%;
  }
  
  .section1_setting > .inner {
    width: 100%;
  }

  .sect1_title > h1 {
    font-size: 20px;
  }

  .section1 {
    height: 30px;
  }
  .slider div p {
    font-size: 10px;
  }

  .circle1{
    left: -20px;
  }
  .circle2{
    right: 10px;
  }

  .circle3{
    left: -20px;
    top: 310px;
  }
  .circle4{
    top: 400px;
    right: 0px;
  }
}